.nav-bar {
  background-color: var(--global-green-31);
}

a.text-white.nav-link span:hover {
  color: var(--global-black);
}

div.container {
  max-width: 1300px;
}

#nav-dropdown {
  color: var(--global-white);
}

#nav-dropdown:hover {
  color: var(--global-black);
}

div.dropdown-menu.show {
  background-color: var(--global-green-31);
  text-align: center;
  border: 2px solid var(--global-black);
}

.navbar-logout-text {
  margin-right: 9px;
}
