.fa-plus {
  cursor: pointer;
  color: var(--global-green-63);
}
.fa-minus {
  cursor: pointer;
  color: var(--global-red-63);
}
.edit-car-second-container {
  justify-content: flex-end;
  margin-top: 8px;
  padding: 10px;
}
