.fa-arrow-alt-circle-right {
  cursor: pointer;
  color: var(--global-green-63);
}

.car-search-dropdown {
  max-width: 250px;
  width: 320px;
}

.car-overview-gray-container {
  row-gap: unset;
}

.car-dropdown-select-label {
  margin-top: 0;
}

.reset-table-btn {
  margin-top: auto;
  margin-bottom: 25px;
  height: 40px;
  width: 210px;
}
