.dropdown-select {
  font: var(--open-bee);
  color: var(--global-dimgray);

  border: 0.7px solid var(--global-gray24);
  border-radius: var(--border-radius-cat);

  width: 100%;
  height: 45px;
  text-align: center;
}

.dropdown-select:focus {
  outline: none;
}

.dropdown-label {
  font: var(--mont-bee);
  color: var(--global-green-19);

  display: block;
  margin-bottom: 7px;
  /* margin-top: 20px; */
}

option[value=""][disabled] {
  display: none;
}

.dropdown-container {
  margin-bottom: 20px;
}
