.btn-default {
  border: 1px solid var(--global-black);
  border-radius: var(--border-radius-cat);
  box-shadow: var(--global-default-shadow);
  font: var(--mont-wasp);
  width: 152px;
  height: 35px;
  text-align: center;
}
