input {
  padding: 12px 0 12px 15px;
  height: 45px;
  border: 0.7px var(--global-dimgray);
  border-radius: 10px;
  width: 100%;
}

input:focus {
  border: none;
  outline: none;
}

.input-container label {
  display: block;
  margin-bottom: 7px;
  font-size: var(--font-size-fly);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}
