/* Global colors */
:root {
  /* Grey-scale:  */
  --global-black: hsla(0, 0%, 0%, 1);
  --global-gray24: hsla(0, 0%, 24, 1);
  --global-dimgray: hsla(0, 0%, 41, 1);
  --global-gray: hsla(0, 0%, 50, 1);
  --global-silver: hsla(0, 0%, 75, 1);
  --global-lightgray: hsla(0, 0%, 83, 1);
  --global-gray89: hsla(0, 0%, 89, 1);
  --global-white: hsla(0, 0%, 89, 1);
  /* Use --global-black: Black button, primary font-color */
  /* Use --global-dimgray: Placeholder */
  /* Use --global-white: White buttons, inputs, dropdowns, main font-color on dark backgrounds, background body-color */

  /* Green scale: */
  --global-night-vision: hsla(113, 47%, 62, 1);
  --global-green-19: hsla(113, 47%, 47, 1);
  --global-green-31: hsla(113, 47%, 31, 1);
  --global-green-45: hsla(113, 47%, 45, 1);
  --global-green-63: hsla(113, 47%, 63, 1);
  --global-green-75: hsla(113, 0%, 89, 1);
  /*Use --global-night-vision: Primary button on hover */
  /*Use -global-green-19: Links */
  /*Use --global-green-75: White button on hover */

  /* Red-scale: */
  --global-fire-engine-red: hsla(357, 73%, 47, 1);
  --global-red-35: hsla(357, 73%, 35, 1);
  --global-red-55: hsla(357, 73%, 73, 1);
  --global-red-63: hsla(357, 73%, 63, 1);
  --global-red-70: hsla(357, 73%, 70, 1);
  /*Use --global-red-55: Error button on hover */
}
