.nav-bar {
  background-color: #157615;
}

.nav-link {
  color: white !important;
}
.nav {
  background-color: pink !important;
  display: "justify-content-end" !important;
}

#logOut {
  margin-right: auto;
}
