@import url("variables/all-variables.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-style: normal;
  font-weight: normal;
  line-height: 1.6;
}

/* Decided to put these here to have them accessible more easily */
.cr-container {
  background-color: hsl(0, 0%, 89%);
  max-width: 1250px;
  margin: auto;
  margin-top: 35px;
  padding: 23px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 13px;
}

.cr-column {
  width: 100%;
  margin-bottom: 10px;
  background-color: #dad6d6;
}
