.booking-first-column,
.booking-second-column {
  flex: 1 1 auto;
}
.booking-third-column {
  flex: 2 1 auto;
}

.booking-inner-container {
  margin: 0 14px;
}

.booking-second-container {
  justify-content: flex-end;
  margin-top: 8px;
  padding: 10px;
}

.customer-info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 20px;
}

.customer-info-container div {
  width: 100%;
  display: flex;
  column-gap: 30px;
}

.customer-info-container div div {
  width: 100%;
  display: flex;
  overflow: hidden;
  column-gap: 10px;
}

.customer-info-container div:nth-child(4) {
  width: 48%;
}

@media screen and (max-width: 1000px) {
  .gray-column {
    width: 100%;
  }

  .booking-second-container {
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .book-page-container {
    flex-direction: column;
  }

  .customer-info-container div {
    flex-direction: column;
  }

  .customer-info-container div:nth-child(4) {
    width: unset;
  }
}
