/* .overview-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid var(--global-black);
  font: var(--open-bee);

  text-align: left;
  padding: 8px;
}

th {
  background-color: var(--global-green-63);
  font: var(--mont-wasp);
}

td {
  background-color: var(--global-lightgray);
} */

.heythere {
  flex-direction: row;
  flex-wrap: nowrap;
}

.fa-arrow-alt-circle-right {
  cursor: pointer;
  color: var(--global-green-63);
}
